<!DOCTYPE html>
<html>
<head>
<title>Student Management System</title>
<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="navbar">
<a href="/">Home</a>
<a href="/enternew">Add Student</a>
<a href="/list">Student List</a>
</div>
<div class="container">
<div class="card">
<h1>Student Management System</h1>
<p>Welcome to Student Management System.</p>
<p>Select an option below.</p>
<br>
<a href="/enternew">
<input type="submit" value="Add Student">
</a>
<a href="/list">
<input type="submit" value="View Students">
</a>
</div>
</div>
</body>
</html>